
    <% @whyuscols.each do |whyuscol| %>
      <div class="top_photo_banniere">
        <img src="assets/bannier_content2.png" alt="Geasebusters banner" />
        <span class="top_photo_banniere_titre">Why us ?</span>
      </div>

      <div class="top_photo" width="970" height="170">
        <%= image_tag whyuscol.image.url(:medium) %>
      </div>

      <h1><%= whyuscol.title %></h1>
      <div class="clear"></div>

      <div id="why_us_content_bloc_left">
        <%= whyuscol.content.html_safe %>
      </div>

      <div class="content_bloc_right">
        <div class="content_bloc_right_box1">

          <div class="content_bloc_right_banniere">
            <img class="content_bloc_right_banniere_box1_image" src="assets/our_services_content_bloc_right_banniere.png" alt="our_services_content_bloc_right_banniere.png" />
            <span class="content_bloc_right_banniere_titre">services</span>
          </div>   

          <img class="content_bloc_right_photo" src="assets/our_services_content_bloc_right_box1_photo.jpg" alt="our process gets it right photo" />

          <h4>we got it covered</h4>

          <div class="content_bloc_right_text">
            To learn more about our services,
            <a class="lien_click_here" href="services">click here.</a>.
          </div>
        </div>

        <div class="content_bloc_right_box2">

          <div class="content_bloc_right_banniere" id="">
            <img class="content_bloc_right_banniere_box2_image" src="assets/our_services_content_bloc_right_banniere2.png" alt="Geasebusters banner" />
            <span class="content_bloc_right_banniere_titre">About Us</span>
          </div>   

          <img class="content_bloc_right_photo" src="assets/our_services_content_bloc_right_box2_photo.jpg" alt="our process gets it right photo" />

          <h4>we're the experts</h4>

          <div class="content_bloc_right_text">
            To find out more about our locally owned and operated branch,
            <a class="lien_click_here" href="about-us">click here.</a>.
          </div>
        </div>

        <div class="content_bloc_right_box3">
          <a href="contact-us"><img src="assets/contact_button.png" alt="Get a free quote, contact us" /></a>
        </div>
      </div>

      <div class="clear"></div>
    <% end %>
