<h1 class="marginB10">Editing About us Tab</h1>

<div class="clr"></div>

<%= render 'form' %>

<%#= link_to 'Show', admin_aboutcols_path(@aboutcol) %> 
<span class="admin_link"><%= link_to 'Back', admin_aboutcols_path %></span>
