/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*--------------*/
/*     COMMON   */
/*--------------*/


#content a:visited
{
    color:#29688b;
}

.f_left{
    float: left;
}

.bold{
    font-weight: bold;
}

.cursor_point{
    cursor: pointer;
}

.c_cf266689{
    color: #266689;
}

.width_auto{width: auto;}
.w100pr100{width: 100%;}
.width209{width: 209px}

.marginT-300{margin-top: -300px;}
.marginR-300{margin-right: -300px;}
.marginB-300{margin-bottom: -300px;}
.marginL-300{margin-left: -300px;}
.marginTRBL-300{margin: -300px;}

.marginT5{margin-top: 5px;}
.marginR5{margin-right: 5px;}
.marginB5{margin-bottom: 5px;}
.marginL5{margin-left: 5px;}
.marginTRBL5{margin: 5px;}

.marginT10{margin-top: 10px;}
.marginR10{margin-right: 10px;}
.marginB10{margin-bottom: 10px;}
.marginL10{margin-left: 10px;}
.marginTRBL10{margin: 10px;}

.marginT20{margin-top: 20px;}
.marginR20{margin-right: 20px;}
.marginB20{margin-bottom: 20px;}
.marginL20{margin-left: 20px;}
.marginTRBL20{margin: 20px;}

.marginT295{margin-top: 295px;}
.marginR295{margin-right: 295px;}
.marginB295{margin-bottom: 295px;}
.marginL295{margin-left: 295px;}
.marginTRBL295{margin: 295px;}

.paddingT5{padding-top: 5px;}
.paddingR5{padding-right: 5px;}
.paddingB5{padding-bottom: 5px;}
.paddingL5{padding-left: 5px;}
.paddingTRBL5{padding: 5px;}

.paddingT10{padding-top: 10px;}
.paddingR10{padding-right: 10px;}
.paddingB10{padding-bottom: 10px;}
.paddingL10{padding-left: 10px;}
.paddingTRBL10{padding: 10px;}

.admin_border_right{
    border-right: 1px solid #EC2A2F;
}
.admin_tab_home,
.admin_tab_home tr,
.admin_tab_home td,
.admin_tab_home th{
    border: 1px solid black;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------*/
/*     ADMIN    */
/*--------------*/

.c_cfff{color:#fff}

.header_menu_admin_user{
    color: #FAE92F;
     text-transform: lowercase;
     font-family: arial;
     font-size: 20px;
}

#header_menu_admin{
    position:absolute;
    top:0;
    width:100%;
    height:67px;
}

#header_menu_admin ul{
    font-family: code, arial;
    float:right;
    margin-top: 22px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px black;
}

#header_menu_admin ul li a{
    color:white;
    text-decoration: none;
}

#header_menu_admin ul li a:hover{
   text-decoration: underline;
}


#header_menu_admin{
  *margin-left: -175px;  
}

#header_menu_admin li{
    display:inline;
    margin-left:20px;
}


#admin_nav{
    color:#266689;
}

#admin_nav a:hover{
    color: #EC2A2F;
}

#admin_nav h2{
    color: #29688B;
    font-weight: normal;
    font-size: 20px;
}

#admin_nav h2:first-letter{
    text-transform: uppercase;
}

.admin_tabs_management{
    margin-left: 230px;
    font-size: 18px;
}

.admin_input input[type=submit]{
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.admin_input input[type=submit]:hover{
    color: #EC2A2F;
}

.admin_text_field input[type=text]{
    padding: 3px;
}

.admin_link a:hover{
    color: #EC2A2F;
}

.homecol-bloc
{
    border-left: 2px solid silver;
    border-right: 2px solid silver;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

input[type=submit]
{
    margin-top:10px;
}
input
{
    border:1px solid grey;
}

.admin_link
{
    font-size: 18px;
}

.img_admin_index img
{
    width: 930px;
}
.img_slide_index img
{
    height: 340px;
    width: 930px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------*/
/*      TAB HOME    */
/*------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

