/*************/
/**  Class  **/
/*************/

.clear{
    clear:both;
}

.clr{
    clear:both;
    overflow:hidden;
    width:100%;
    height:1px;
}

.left{
    float: left;
}

.display{
    display:none;
}

.hidden{
    visibility: hidden;
}

.bannier_content{
    float: left;
}

.bannier_titre{
    position: relative;
    left: 10px;
    font-family: code;
    font-size: 20px;
	letter-spacing:2px;
    color: #fff;
    text-align: left;
    width: auto;
    display: block;
    width: 208px;
    top: -50px;
	font-weight:bold;
    text-transform: uppercase;
}

.bannier_content{
    margin-left: -12px;
}
.bannier_photo img{
    height: 108px;
    margin:-30px 0 0 6px;
}

.text_home{
    text-align: justify;
    font-family: arial,"Times New Roman";
    font-size: 12px;
    padding: 0 17px 14px 0;
    margin: 8px 0 0 6px;
}

.home_under_box{
    width: auto;
    height: 171px;
    margin: 0 auto 0 auto;
    background: url("../assets/logo_footer.png")no-repeat center;
}

.wrapper{
    width:940px;
    margin:0 auto;
    position:relative;
}

.top_photo_banniere img{
    margin: 129px 0 0 -22px;
    position: absolute;
}
.lockwidth {
	width:951px;
}
.formSide {
	left: 285px;
    position: relative;
	margin-top: -180px;
    width: 250px;
}
.top_photo_banniere_titre{
    position: absolute;
    margin-top: 138px;
    left: 18px;
    font-family: code;
    font-size: 22px;
    color: #fff;
    text-align: left;
    width: auto;
    display: block;
    width: auto;
	font-weight:bold;
	letter-spacing:1px;
}

.top_photo{
    margin-left: -10px;
    float: left;
    width: 930px;
}
.top_photo img {
    height: 170px;
    margin-left: 10px;
    width: 930px;
}

.lien_click_here{
    text-decoration: none;
    font-weight:bold;
    color: #3f9fc7;
    font-family: arial,"Times New Roman";
    font-size: 14px;
    padding-right: 17px;
} 

.lien_click_here:hover, .lien_click_here:focus{
    color: #e1272d;
}

/*************/
/** Commun  **/
/*************/

*{border:0; margin:0; padding:0; }

body{
    font-family: arial;
    font-size: 12px;
    color:#555555;
}

.marginB25{margin-bottom: 25px;}


@font-face {
    font-family: 'code';
    src: url('../font/code_light.eot');
}

@font-face {
    font-family: 'code';
    src: url('../font/code_light.ttf');
}
@font-face {
    font-family: 'codebold';
    src: url('../font/code_bold.eot');
}

@font-face {
    font-family: 'codebold';
    src: url('../font/code_bold.ttf');
}

@font-face {
    font-family: 'bebas';
    src: url('../font/BEBAS_spaced.eot');
}

@font-face {
    font-family: 'bebas';
    src: url('../font/BEBAS_spaced.ttf');
}

p {
	font-size:12px;
}
h1{
    font-family: code;
    font-size: 30px;
    text-transform: uppercase;
    color: #286A8C;
    margin-bottom: 32px;
    float: left;
    width: auto;
    margin: 20px 0 0 0;
    font-weight: bold;
	letter-spacing:1px;
}

h3{
    font-family: code, Arial,"Times New Roman";
    color: #2290be;
    font-size: 18px;
	letter-spacing:1px;
    margin: 10px 0 0 6px;
    font-weight: bold;
}

#box h4{
    font-family: arial,"Times New Roman";
    font-weight: normal;
    color: #2290be;
    font-size: 13px;
    margin-left: 6px;
    width: 290px;
}

h4{
    font-family: arial,"Times New Roman";
    font-size: 18px;
    color: #2290be;
    margin: 10px 0 5px 0;
    font-weight: normal;
    margin: 10px 0 10px 0;

}
#our_services_content_bloc_left h4, #about_us_content_bloc h4, #why_us_content_bloc_left h4, #contact_us_h4{
	background:url(../assets/bullet.png) no-repeat 0px 6px;
	padding-left:15px;
	margin-left:-15px;
}
h4:first-letter{
    text-transform: uppercase;
}
/*****************************/

/*************/
/**  Header **/
/*************/

#header{
    background: url("../assets/bg-header.jpg") center repeat-x;
    width:100%;
    height:425px;
}

#header_menu{
    position:absolute;
    top:0;
    width:545px;
    height:55px;
	right:0;
}
#header_menu ul {
    margin: 0;
    padding: 0;
    font-family: code, arial;
    font-size:16px;
    margin-top: 15px;
	font-weight:bold;
	letter-spacing:1px;
	text-shadow: black 0px 1px 2px ;
}
#header_menu ul li {
    display: inline;
    float: left;
    height: 30px;
    line-height: 30px;
    list-style: none outside none;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
}
#li_first {

}
.li_others{
    color:#fff;
    text-decoration: none;
    background: url("../assets/menu_separator.jpg") no-repeat scroll left center transparent;
    padding-left: 10px;
}
#header_menu li a {
    color: #FFFFFF;
    text-decoration: none;
	padding-top:20px;
	padding-bottom:15px;
}
#header_menu li a:hover, #header_menu li a:focus {
	border-top:1px solid #25bee0;
	background: transparent url(../assets/menu_hover2.gif) bottom center no-repeat;
	color: #25bade;
}
#header_menu li a:active { color: #FFE01D;}

#header_contact{
    float: right;
    margin: 90px 0 0 0;
    width: 420px;
}
#container_shadow {
	width:1050px;
	height:90px;
    background: url("../assets/container_shadow.png") center no-repeat;
	margin:-80px auto 0;
}

/*************/
/**  Footer **/
/*************/

#footer {
    background-image: url("../assets/bg-footer.jpg");
    width:100%;
    height:215px;
    margin-top:-50px;
    float: left;
}

#footer_3_div {
    position: absolute;
    color: #fff;
    font-weight: bold;
    float: left;
    margin: 68px 0 0 -4px;
    width:950px;
}

#footer_div1, #footer_div2, #footer_div3 {
    width: 302px;
    height: 52px;
    float: left;
    background-color: #4d788d;
    margin-right: 22px;
    border-radius: 10px;
	border-bottom:1px solid #9cccdc;
}
#footer_div3 {
	margin-right:0px;
}
#footer_3_div a{
    color: #fff;
}

#footer_3_div a:hover,#footer_3_div a:focus{
    color: #B3D0DE;
}

.text_3_div{
    float: left;
    width: auto;
    font-size: 14px;
    font-family: code;
    margin-top: 20px;
	letter-spacing:1px;
    cursor:pointer;
}

#footer_3_div img {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#footer_menu{
    background-color: #286889;
    float: left;
    height: 37px;
    margin-top: 179px;
    width: 100%;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2);
	border-top:2px solid #38a5c2;
}

#copyright{
    margin-top:12px;
    float: left;
    font-size: 13px;
}

#footer_menu_list {
    width: 465px;
    float: right;
    margin-top:12px;
}

#footer_menu_list ul{
    width: 600px;
    float: left;
}

#footer_menu_list li{
    display: inline;
    width:300px;
    font-size: 13px;
    font-family: arial;
}

#footer_menu_list li a{
    float: left;
    text-decoration: none;
    color: #fff;
}

#footer_menu_list li a:hover, #footer_menu_list li a:focus{
    color: #FFE01D;
}

/*************/
/**   Home  **/
/*************/
.home_vertical_deparator{
    float: left;
    margin: 80px -6px 0 0px;
}

#super_conteneur{
    position:relative;
    height:100%;
}

#content{
    background-color: #FFF;
    margin-top:-590px;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
}
#logo{
    width:197px;
    height: 174px;
}
#logotype {
	outline:none;
    width:197px;
    height: 174px;
	position:absolute;
	display:block;
    margin: 2px 0 0 -35px;
	background: url(../assets/logoshadow.png) no-repeat;
}

#cotation, #contact{
 /*   font-size: 25px; */
    font-family: bebas;
}
#cotation a, #contact a{
	font-size:0;
	text-indent:-9999px;
}
#cotation{
    color: #f8f8f8; 
    text-align: right;
	margin-bottom:8px;
}

#contact{
    color: #fae92f;
    float: right;
    width: 420px;
    text-align: right;
}

#background_content{
    background:#ffffff url("../assets/bg-content1.jpg") repeat-x;
    width:100%;
    height:342px;
    /* border: 1px solid black;*/
}

#slider{
    width: 961px;
    height: 347px;
    box-shadow: 0px 10px 12px #555;
}

.previous_tab{
    position: absolute;
    margin: 105px 0px 0 0;
    right: 970px; 
}

.next_tab{
    position: absolute;
    margin: 105px 0px 0 0;
    right: -41px;
}

.slider_image{
    margin-left: -10px;
}

#box{
    margin-top: 20px;
    height: auto;
}

#box1 .bannier_content{
    margin-left: -12px;
}
#box1 {
	margin-left:-10px;
}
#box1,
#box2,
#box3{
    height: auto;
    width: 310px;
    float: left;
	min-height:350px;
	background:url('../assets/home_horizontal_separator.png') bottom center no-repeat;
        padding-bottom: 15px;
}
#box1:hover,#box1:focus,
#box2:hover,#box2:focus,
#box3:hover,#box3:focus{
	background:url('../assets/home_horizontal_separator_hover.png') bottom center no-repeat;
}

/****************/
/**Our services**/
/****************/

.our_service_content_bloc_left_box{
    float: left;
    text-align: justify;
}

#our_services_content_bloc_left{
    height: auto;
    width: 540px;
    float: left;
    margin: 0 40px 0 28px;
}

.content_bloc_right{   
    height: auto;
    width: 318px;
    margin-left: 8px;
	margin-top:-35px;
    float: left; 
    background-color: #f8f8f8;
    border-radius: 4px;
}

.content_bloc_right_box1{
    float: left;	
}

.content_bloc_right_banniere_box1_image{
    margin: 5px 0 0 -2px;
    float: left;
}

.content_bloc_right_banniere_titre{
    font-family: code;
    font-size: 22px;
    color: #fff;
    width: 208px; 
    float: left;
    margin: -45px 0 0 15px;
	font-weight:bold;
	letter-spacing:1px;
}

.content_bloc_right_photo{
    margin-left: 10px;
    float: left;
}

.content_bloc_right h4{
    text-transform: uppercase;
    color: #ec2a2f;
    margin-left: 15px;
    float: left;
	background:none;
}

.content_bloc_right_text{
    float: left;
    font-family: arial;
    font-size: 12px;
    color: #646464;
    margin-left: 15px;
    width: 295px;
}

.content_bloc_right_box2{
    margin-top: 30px;
    float: left;
}

.content_bloc_right_banniere_box2_image{
    margin-left: -15px;
    float: left;
}

.content_bloc_right_box3{
    float: left;
    height: 66px;
    width: 260px;
    border-radius: 5px;
    margin: 30px 0 10px 50px;
}

.content_bloc_right_box3 a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: code;
    font-size: 16px;
    float: right;
}

.content_bloc_right_box3_logo{
    float: left;
    width: 74px;
    height: 74px;
    margin-left: -20px;
}

.content_bloc_right_box3_text1 a{
    color: #fff;
    float: right;
    margin: 9px 10px 0 0;
}

.content_bloc_right_box3_text1 a:hover{
    color: #B5D1DD;
}

.content_bloc_right_box3_text2 a{
    color: #f5d83b;
    float: right;
    margin: 5px 10px 0 0;
}

.content_bloc_right_box3_text2 a:hover{
    color: #FFFF01;
}

/****************/
/**   About Us **/
/****************/

#about_us_content_bloc{
    text-align: justify;
}

#about_us_content_bloc{
    width: auto;
    padding:0 30px 0 28px;
    margin-bottom: 20px;
}

#about_us_content_bloc h1{
    margin-top: 20px;
}

#about_us_content_bloc h4{
    margin-bottom: 20px;
}

.about_us_table{
	margin-left: 45px;
    margin-top: 70px;
}

.tab_aboutus {
    width: 365px;
    height: 305px;
    background-color: #f6f6f6;
    border-radius: 3px;
}

.colonne_middle_aboutus {
    width: 106px;
}

.about_us_bottom_logo{
    margin: -160px 0 -25px 290px;
}

.about_us_bloc_left_bottom{
    height: auto;
    float: left;
}

.about_us_bloc_left_bottom_banniere1{
    float: left;
}

.about_us_bloc_left_bottom_banniere2{
    float: right;
    margin-right: -18px;
}

.about_us_bloc_left_bottom_banniere_box1_image1{
    margin: 5px 0 0 -16px;
    float: left;
}

.about_us_bloc_left_bottom_banniere_box1_image2{
    margin: 5px -14px 0 0px;
    float: right;
}

.about_us_bloc_left_bottom_banniere_titre1,
.about_us_bloc_left_bottom_banniere_titre2{
    font-family: code;
    font-size: 22px;
    color: #fff;
    width: 208px;
	font-weight:bold;
	letter-spacing:1px;
}

.about_us_bloc_left_bottom_banniere_titre1{
    float: left;
    margin: -47px 0 0 20px;
}

.about_us_bloc_left_bottom_banniere_titre2{
    float: right;
    margin: -46px 20px 0 0px;
    width: auto;
}

.about_us_bloc_left_bottom_photo1{
    float: left;
    margin-left: 10px;
}

.about_us_bloc_left_bottom_photo2{
    float: right;
    margin-right: 10px;
}

.about_us_bloc_left_bottom_text1{
    float: left;
    width: 258px;
    margin-left: 10px;
    font-size: 14px;
}
.about_us_bloc_left_bottom_text1 h4,.about_us_bloc_left_bottom_text2 h4 { color:#EC2A2F;}
.about_us_bloc_left_bottom_text2{
    float: right;
    width: 218px;
    font-size: 14px;
}

.about_us_bloc_left_bottom_h4_1{
    float: left;
    width: auto;
}

.about_us_bloc_left_bottom_h4_2{
    float: left;
    width: auto;
}

/*************/
/**  Why us **/
/*************/

#why_us_content_bloc_left{
    float: left;
    width: 540px;
    text-align: justify;
    margin-bottom: 20px;
	margin: 0 40px 0 28px;
}

.why_us_content_bloc_left_box{
    float: left;
}

#why_us_content_bloc_right{   
    height: auto;
    width: 295px;
    height: 565px;
    margin: 10px 0 0 5px;
    padding: 10px;
    float: left; 
    background-color: #f4f4f4;
    border-radius: 6px;
}

/*************/
/**Contac us**/
/*************/

#coordonnees{
    font-family: code;
    font-size: 22px;
    width: auto;
    margin-top: 15px;
    float: left;
    font-weight: bold;
}

#coordonnees_titre {
    color: #286A8C;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
/*#coordonnees_adresse{
    letter-spacing: 1px;
}*/
#coordonnees_adresse {
	font-family:Arial;
	font-size:15px;
	font-weight:normal
}
#telephone{
    text-decoration: underline;
}

#geoloc{
    float: left;
    margin:17px 0 0 48px;
}

#geoloc img{
    margin: -125px 0 0 324px;
    box-shadow: 3px 9px 7px #555;
    float: left;
}

#contact_us_h4{
    margin-top: 25px;
    float: left;
    width:auto;
	margin-left:10px;
}

#quote_text{
    margin: 0 0 20px 6px;
    width: 880px;
    float: left;
	font-weight:bold;
}

#formulaire{
    margin-top: 15px;
    width: 550px;
    /*    height: 200px;*/
    float: left;
	margin-left:10px;
}
#formulaire label {
	width:180px;
	height:25px;
	display:inline-block;
}
.formulaire_input{
    width: 325px;
    padding: 1px 6px 1px 6px;
}

#checkbox_choice_part{
    margin-top: 30px;
    float: left;
}

#checkbox_proposal_title{
    float: left;
}

#formulaire input{
    border: 1px silver solid;
}

#checkbox_proposal_choice{
    width: 380px;
    margin-left: 10px;
    float: left; 
}

#checkbox_proposal_choice{

}

#checkbox_proposal_choice ul li{
    list-style-type: none;
    width: auto;
}

#additional_information_part{
    float: left;
    margin-top: 20px;
}

#additional_information_title{
    float: left;
    margin-right: 10px;
	width:180px;
}
#additional_information_part textarea{
    border: silver 1px solid;
    float: left;
	width:325px;
	min-width:325px;
	max-width:325px;
	padding: 1px 6px;
}
.submit_button input {
    background-color: #2C6B8C;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 30px;
    margin: 20px 0 40px 390px;
    width: 140px;
}
.submit_button input:hover{
    background-color: #4B9AC3;
}

/*SLIDER*/

#ribbon {
    position:absolute;
    top:-3px;
    left:-15px;
    z-index:500;
}

#frame {
    position:absolute;
    z-index:0;
    width:739px;
    height:341px;
    top:-3px;
    left:-80px;
}


#slides {
    width:1050px;
    height: 350px;
    z-index:100;
	position:relative;
	left:-60px;
	background: url('../assets/slideshow_bg.png') center no-repeat; 
}


.slides_container {
    width:930px;
    height: 347px;
    overflow:hidden;
    position:relative;
    display:none;
	left:60px;
}

/*
        Each slide
        Important:
        Set the width of your slides
        If height not specified height will be set by the slide content
        Set to display block
*/

.slides_container a {
    width:570px;
    height:270px;
    display:block;
}

.slides_container a img {
    display:block;
    width: 950px;
    height:340px;
}

/*
        Next/prev buttons
*/

#slides .next,#slides .prev {
    position:absolute;
    top:130px;
    left:10px;
    width:24px;
    height:43px;
    display:block;
    z-index:1;
	outline:none;
}

#slides .next {
    left:1000px;
}


.pagination {
    display: none;
}

.pagination li {
    float:left;
    margin:0 1px;
    list-style:none;
}

.pagination li a {
    display:block;
    width:12px;
    height:0;
    padding-top:12px;
    /*	background-image:url(../img/pagination.png);*/
    background-position:0 0;
    float:left;
    overflow:hidden;
}

.pagination li.current a {
    background-position:0 -12px;
}

