<h1 class="marginB10">Editing Service Tab</h1>

<div class="clr"></div>

<%= render 'form' %>

<%#= link_to 'Show', admin_servicecols_path(@servicecol) %> 
<span class="admin_link"><%= link_to 'Back', admin_servicecols_path %></span>
